@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
/* ========================================================================================= */
/*                                        Spinner CSS                                        */
/* ========================================================================================= */
#wheelOfFortune {
    display: inline-flex;
    overflow: hidden;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wheel {
    display: block;
}

#spin {
    font: 2rem/0 sans-serif;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin: -15%;
    background: #fff;
    color: #fff;
    box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: 0.8s;
}

#spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}
/* ========================================================================================= */
/*                                      Spinner CSS: End                                      */
/* ========================================================================================= */

body {
    background-color: #333;
    font-family: 'Nunito', sans-serif;
}
canvas {
    font-family: 'Nunito', sans-serif;
}

.result-modal {
    background-color: #333;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1) rotate(1440deg);

    width: 600px;
    height: 300px;

    border-radius: 30px;
    border: 4px solid white;

    scale: 1;
    transition: all 1s ease-in;
}
.result-modal.hidden {
    /* scale: 0; */
    transform: translate(-50%, -50%) scale(0, 0) rotate(0deg);
}
@media only screen and (max-width: 768px) {
    .result-modal {
        width: 90%;
        height: 300px;
    }
}

.result-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.result-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;

    width: 100%;
    text-align: center;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    color: white;
}

.close-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    
    font-family: 'Nunito', sans-serif;
    margin: 5px auto;
}